MiniMeet/MiniMeet.xcworkspace/xcuserdata/hi_hu.xcuserdatad/UserInterfaceState.xcuserstate
MiniMeet/Pods/Pods.xcodeproj/xcuserdata/hi_hu.xcuserdatad/xcschemes/Pods-AFNetworking.xcscheme
MiniMeet/Pods/Pods.xcodeproj/xcuserdata/hi_hu.xcuserdatad/xcschemes/Pods.xcscheme
MiniMeet/Pods/Pods.xcodeproj/xcuserdata/hi_hu.xcuserdatad/xcschemes/xcschememanagement.plist